<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create client</title>
</head>
<body>
<form action="#" th:action="@{/client-create}" th:object="${client}" method="post">
    <label for="fio">FIO</label>
    <input type="text" th:field="*{fio}" id="fio" placeholder="fio">
    <label for="telephone">Telephone</label>
    <input type="text" th:field="*{telephone}" id="telephone" placeholder="telephone">
    <label for="email">email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="email">
    <label for="passport">Passport</label>
    <input type="text" th:field="*{passport}" id="passport" placeholder="passport">

    <input type="submit" value="Create client">
</form>
</body>
</html>