<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clients of bank</title>
</head>
<body>
<div th:switch="${clients}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Clients of bank</h2>
        <table>
            <thead>
            <tr>
<!--                <th>ClientId</th>-->
                <th>Fio</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Passport</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${clients}">
<!--                <td th:text="${client.clientId}"></td>-->
                <td th:text="${client.fio}" ></td>
                <td th:text="${client.telephone}" ></td>
                <td th:text="${client.email}" ></td>
                <td th:text="${client.passport}"  ></td>
                <td><a th:href="@{client-update/{clientId}(clientId=${client.clientId})}" >Edit</a></td>
                <td><a th:href="@{client-delete/{clientId}(clientId=${client.clientId})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/client-create">Add new client</a></p>
</div>
</body>
</html>